*,
*::before,
*::after {
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin-top: 1em;
}

img {
  display: block;
  border-radius: 10px;
  width: 100%;
}

.property-card img {
  height: 250px;
}

.sale-property-cont,
.rental-property-cont {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  width: 1500px;
  margin: 0 auto;
  margin-top: 3em;
  gap: 1em;
  padding: 1em;
}

.property-card {
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  border-radius: 10px;
  width: 350px;
  height: 590px;
}

.card-body {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.card-body > * {
  flex: 1;
}
